<div class="container">
    <div class="row inscription">
        <div class="col-md-7 pr-0">
            <img class="w-100" src="/assets/images/imgCo.png">
        </div>
        <div class="card col-md-5 float-md-left">
            <!--Card content-->
            <div class="card-body">
                <!-- Formulaire -->

                <form [formGroup]="inscriptionFormulaire" (ngSubmit)="inscription(inscriptionFormulaire.value)">

                    <div class="invalid-feedback d-block" *ngIf="errors.global">{{ errors.global }}</div>
                    <h5 class="titreConnexion">S'inscrire</h5>

                    <div class=" col-xs-12 my-4">
                        <label>Adresse email</label>
                        <input type="text" class="champs-formulaire form-control" placeholder="Entrez votre email" formControlName="email">
                        <div class="invalid-feedback d-block" *ngIf="errors.email">{{ errors.email }}</div>
                    </div>

                    <div class="md-form col-xs-12 my-4">
                        <label>Mot de passe</label>
                        <input type="password" class="champs-formulaire form-control" placeholder="Entrez votre mot de passe" formControlName="motDePasse">
                        <div class="invalid-feedback d-block" *ngIf="errors.plainPassword">{{ errors.plainPassword }}</div>
                    </div>

                    <div class="md-form col-xs-12 my-4">
                        <label>Confirmation mot de passe</label>
                        <input type="password" class="champs-formulaire form-control" placeholder="Confirmer votre mot de passe"
                            formControlName="motDePasseValid">
                        <div class="invalid-feedback d-block" *ngIf="errors.motDePasseValid">{{ errors.motDePasseValid }}</div>
                    </div>


                    <!-- <div class=" col-xs-12 my-4">
                        <label>Identifiant</label>
                        <input type="text" class="champs-formulaire form-control" placeholder="Entrez votre identifiant" formControlName="identifiant">
                        <div class="invalid-feedback" *ngIf="errors.username">{{ errors.username }}</div>
                    </div> -->

                    <button class="col-md-5 btn btn-outline-primary btn-connection" type="submit">S'inscrire</button>

                </form>
            </div>

        </div>

    </div>
</div>

