<div class="domaine_formation  ">
    <div class="block-en-tete">
        <p>Domaine de la formation</p>
    </div>
    <hr>
    <div>
        <label>FORMACODE *</label>
        <app-input placeholder="Catégorie" id="titreFormation"></app-input>
        <app-input placeholder="Entrez un FORMACODE" id="objectifFormation"></app-input>
    </div>
    <app-input label="ROME *" id="rome"></app-input>
    <app-input label="NSF *" id="nsf"></app-input>
</div>