<div class="filtreContainer">

  <h3>Filtres</h3>

  <mat-accordion>

    <mat-expansion-panel class="mb-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="titreFiltre">
          Niveau de sortie
        </mat-panel-title>
        <mat-panel-description>
          <!-- description -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let el of dictService.dicts.DictNiveaux">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="'level'+el.id" value="option1">
            <label class="form-check-label" [for]="'level'+el.cle">{{el.valeur}}</label>
          </div>
        </li>
      </ul>




    </mat-expansion-panel>

    <mat-expansion-panel class="mb-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="titreFiltre">
          Rythme de la formation
        </mat-panel-title>
        <mat-panel-description>
          <!-- description -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let el of dictService.dicts.DictModalitesEs">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="'rythme'+el.id" value="option1">
            <label class="form-check-label" [for]="'rythme'+el.cle">{{el.valeur}}</label>
          </div>
        </li>
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel class="mb-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="titreFiltre">
          Présentielle ou à distance
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let el of dictService.dicts.DictAis">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="'pres'+el.id" value="option1">
            <label class="form-check-label" [for]="'pres'+el.cle">{{el.valeur}}</label>
          </div>
        </li>
      </ul>

    </mat-expansion-panel>

  </mat-accordion>

</div>
