.filtreContainer{
    margin-top: 50px;
    background-color: white;
    padding: 10px;
}

ul li,li{
    list-style-type: none;
    margin: 5px 0;
}

ul{
    padding: 0;
}

.form-check-inline .form-check-input{
    margin-top: auto;
}

.titreFiltre{
    color: #009EC1;
    font-weight: bold;
}

mat-expansion-panel{
    background-color: #F5F9FA;
    box-shadow: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}

