<div class="certification">
    <div class="block-en-tete">
        <p>Certfications</p>
    </div>
    <hr>
    <div>
        <label>RNCP</label>
        <app-input placeholder="Entrez un code RNCP" id="rncp"></app-input>
        <app-input placeholder="Catégorie" id="categorieRncp"></app-input>
    </div>
    <div>
        <label>CERTIFINFO</label>
        <app-input placeholder="Entrez un code CERTIFINFO" id="certifinfo"></app-input>
        <app-input placeholder="Catégorie" id="categorieCertifinfo"></app-input>
    </div>
</div>