<div class="organisme_financeurs ">
    <div class="block-en-tete">
        <p>Organismes financeurs</p>
    </div>
    <hr>
    <h5>Organisme financeur</h5>
    <app-select label="Organisme financeur" id="codeFinanceur" [values]="values"></app-select>
    <app-input label="Nombre de places financées" id="nbPlaces" placeholer="Nombre de places financées"></app-input>
</div>