<div class="contact_formation">
    <div class="block-en-tete">
        <p>Contact de la formation</p>
    </div>
    <hr>
    <h5>Coordonnées du contact</h5>
    <app-select label="Civilité" id="civilite" [values]="values"></app-select>
    <app-input placeholder="Entrez le prénom du contact" label="Prénom" id="prenom"></app-input>
    <app-input placeholder="Entrez le nom du contact" label="Nom" id="nom"></app-input>
    <app-input placeholder="Texte pour des coordonnées ou une adresse" label="Ligne" id="ligne"></app-input>
    <br>
    <h5>Adresse du contact</h5>
    <app-input label="Ligne" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>
    <app-input label="Téléphone" id="telephone"></app-input>
    <app-input label="Fax" id="fax"></app-input>
    <app-input label="Courriel" id="courriel"></app-input>
    <app-input label="Site web" id="siteWeb"></app-input>
</div>