<div class="adresse_information">
    <div class="block-en-tete">
        <p>Adresse d'information</p>
    </div>
    <hr>

    <app-input label="Ligne" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>

</div>