<div class="offre_formation">
    <div class="block-en-tete">
        <p>Offre de la formation</p>
    </div>
    <hr>
    <app-input label="Intitulé de la formation *" id="titreFormation" ></app-input>
    <app-input label="Intitulé de la formation *" id="titreFormation" ></app-input>
    <app-input label="Objectif de la formation *" id="objectifFormation"></app-input>
    <app-text-area label="Résultats attendus *" id="resultatAttendus"></app-text-area>
    <app-text-area label="Contenu de la formation *" id="contenuFormation"></app-text-area>
    <app-boolean label="Formation certifiante *" id="formationCertif"></app-boolean>
    <app-select label="Type de parcours de formation *" id="typeParcoursFormation" [values]='values'></app-select>
    <app-select label="Niveau d'entrée *" id="niveauEntree" [values]='values'></app-select>
    <app-select label="Niveau de sortie" id="niveauSortie" [values]='values'></app-select>
    <app-select label="Objectif général de la formation" id="objGeneral" [values]='values'></app-select>
    <app-input label="URL de la formation" id="urlFormation"></app-input>
</div>
<button (click)="valueChange()">Suivant</button>

