p, h1, h2, h3, h4 {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.btn-recherche{
    background-image: linear-gradient(to right,#00c8d5, #00a0c5);
    color: white;
    border: 0;
    border-radius: 25px;
    height: 3rem;
    font-weight: bold;
}
.div_btn_recherche{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.marginBot{
    margin-bottom: 20px;
}