<div class="container pt-5">

  <section class="jumbotron shadow mb-5 p-3 bg-white rounded">
    <div class="col-12">
      <h3 class="">Rechercher une formation</h3>
    </div>

    <div class="col d-flex justify-content-between marginBot">
      <app-barre-de-recherche class="col-6" fieldName="textRecherche" [textRecherche]="textRecherche"></app-barre-de-recherche>
      <app-barre-de-recherche class="col-6" fieldName="textRecherche2" [textRecherche]="textRecherche2"></app-barre-de-recherche>
    </div>

    <div class="div_btn_recherche col-12 text-center">
      <button (click)="rechercher()" class="col-2 btn btn-primary btn-recherche align-items-center">Rechercher</button>
    </div>

  </section>
 <div class="row">
   <app-filtres-recherche class="col-3"></app-filtres-recherche>
   <div class="row block-carte col-9">
     <app-miniature *ngFor="let resultat of rechercheService.resultats" class="col-12" [formation]="resultat"></app-miniature>
   </div>
 </div>
</div>
