<div class="action_formation">
    <div class="block-en-tete">
        <p>Action de formation n°1</p>
    </div>
    <hr>
    <h5>Informations sur l'action</h5>
    <app-select label="Public visé *" id="publicVise" [values]="values"></app-select>
    <app-input label="Informations sur le public visé" id="infoPublic" placeholder="Entrez un titre pour la formation">
    </app-input>
    <app-input label="Rythme de la formation *" id="rythmeFormation" placeholder="Entrez le rythme de la formation">
    </app-input>
    <app-select label="Niveau d'entrée obligatoire *" id="niveauEntree" [values]="values"></app-select>
    <app-input label="Niveau d'entrée obligatoire *" id="modaliteAlternance"
        placeholder="Entres les modalités de l'aternance"></app-input>
    <app-select label="Formation présentielle ou à distance *" id="formationDistancePrésentielle" [values]="values">
    </app-select>
    <app-input label="Conditions spécifiques et prérequis *" id="conditions" placeholder="Entres les conditions">
    </app-input>
    <app-input label="Langue de la formation" id="langueFormation" placeholder="Code ISO 639-1"></app-input>
    <app-select label="Modalités d'entrées/sorties *" id="modalite" [values]="values"></app-select>
    <app-input label="URL de l'action de formation" id="urlActionFormation" placeholder="URL de l'action de formation">
    </app-input>
    <app-input label="Date d'information sur l'action" id="dateAction" placeholder="Date d'information sur l'action">
    </app-input>

    <br>
    <h5>Pédagogie</h5>
    <app-input label="Modalités pédagogiques" id="modalite" placeholder="Modalités pédagogiues"></app-input>
    <app-select label="Code de modalité pédagogique" id="codeModalite" [values]="values"></app-select>

    <br>
    <h5>Recrutement</h5>
    <app-input label="Modalités de recrutement" id="modalite" placeholder="Modalités de recrutement"></app-input>
    <app-select label="Périmètre de recrutement" id="perimetreRecrutement" [values]="values"></app-select>
    <app-input label="Informations sur le périmètre de recrutement" id="infoPerimetreRecrutement"
        placeholder="Informations sur le périmètre de recrutement"></app-input>

    <br>
    <h5>Prix et conventionnement</h5>
    <app-input label="Prix horaire TTC" id="prixHoraireTtc" placeholder="Prix horaire TTC"></app-input>
    <app-input label="Prix total TTC" id="prixTotalTtc" placeholder="Prix total TTC"></app-input>
    <app-input label="Frais restants" id="fraisRestants" placeholder="Frais restants"></app-input>
    <app-boolean label="Prise en charge des frais possible *" id="priseEnCharge"></app-boolean>
    <app-input label="Détail des conditions de prise en charge" id="detailPriseEnCharge"
        placeholder="Détail des conditions de prise en charge"></app-input>
    <app-boolean label="Conventionnement" id="conventionnement"></app-boolean>
    <app-input label="Durée du conventionnement" id="dureeConventionnement" placeholder="Durée du conventionnement">
    </app-input>

    <br>
    <h5>Prix et conventionnement</h5>
    <app-input label="Durée indicative" id="dureeIndicative" placeholder="Durée indicative"></app-input>
    <app-input label="Nombre d'heures en centre de formation" id="nbHeureFormation"
        placeholder="Nombre d'heures en centre de formation"></app-input>
    <app-input label="Nombre d'heures en entreprise" id="nbHeureEntreprise" placeholder="Nombre d'heures en entreprise">
    </app-input>
    <app-input label="Nombre d'heures total" id="nbHeureTotal" placeholder="Nombre d'heures total"></app-input>

</div>