    <div class="form-group">
      <label [for]="fieldName">{{textRecherche}}</label>
        <input type="text" class="form-control" placeholder="{{textRecherche}}" aria-label="Number" [(ngModel)]="rechercheService[fieldName]" [name]="fieldName" [id]="fieldName" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </div>
