



.mat-tab-group {
    flex-direction: row-reverse;
}
.mat-tab-header {
    border-bottom: none;
}
.mat-tab-header-pagination {
    display: none !important;
}
// #content .mat-tab-labels {
//     display: flex;
//     flex-direction: column !important;
// }
.mat-ink-bar {
    height: 100%;
    left: 98% !important;
}
.mat-tab-body-wrapper {
    flex: 1 1 auto;
}
    

    