<div class="row m-2">

    <div class="col-12 block-main">
        <div class="block-en-tete">
            <h5>Offre de formation</h5>
        </div>
        <hr>
        <form [formGroup]="formulaire" (ngSubmit)="onSubmitForm()">

            <div class="container">
                <div id="content">
                    <div id="main-content">
                        <mat-tab-group>
                            <mat-tab id="mat_tab_form" label="Offre de formation" container="coucou">
                                <app-offre-formation [offreFormation]="offreFormation"></app-offre-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Domaine de formation">
                                <app-domaine-formation></app-domaine-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Certifications">
                                <app-certification></app-certification>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Contact de la formation">
                                <app-contact-formation></app-contact-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Organisme de formation responsable">
                                <app-organisme-formation></app-organisme-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Action de formation n°1">
                                <app-action-formation></app-action-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Lieu de formation">
                                <app-lieux-formation></app-lieux-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Adresse d'information">
                                <app-adresse-information></app-adresse-information>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Organisme formateur">
                                <app-organisme-formateur></app-organisme-formateur>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Organismes financeurs">
                                <app-organisme-financeurs></app-organisme-financeurs>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Session de formation n°1">
                                <app-session-formation></app-session-formation>
                            </mat-tab>
                            <mat-tab id="mat_tab_form" label="Modularisation">
                                <app-modularisation></app-modularisation>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
            
            
            
            

        </form>
        <p>
            <button (click)="onSubmitForm()">submit</button>
        </p>
    </div>
</div>
