header .nav_text a {
    color: black;
    font-weight: bold;
    align-self: center;
}

.navbar{
    background: white;
}

header .nav_text a.btn-aide{
    color: #aaa;
    margin-right: 30px;
    cursor: pointer;
}