<div class="modularisation ">
    <div class="block-en-tete">
        <p>Modularisation</p>
    </div>
    <hr>

    <app-input label="Identifiant du module" id="idModule" placeholer="Entres un identifiant de module"></app-input>
    <app-select label="Positionnement" id="positionnement" [values]="values"></app-select>
    <label>Sous-module</label>
    <app-input label="Référence de sous-module" id="refSousModule" placeholer="Entres une référence de sous-module">
    </app-input>
    <app-select label="type de sous-module" id="typeSousModule" [values]="values"></app-select>
    <label>Modules prérequis</label>
    <app-input label="Référence de module prérequis" id="refModulPrerequis"
        placeholer="Entrez une référence de module prérequis"></app-input>

</div>