p {
  font-family: Arial, Helvetica, sans-serif;
  color: #003954;
  font-size: 12px;
}

.navbar{
    background: white;
}

.navbar-brand{
    color: #2699FB;
}

.aide{
    cursor: pointer;
}

.nav_text{
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_text a {
    color: black;
    font-weight: bold;
    align-self: center;
}

.banner{
    width: 100%;
    height: 100px;
}

main{
    margin-bottom: 55px;
}

footer{
    height: 50px;
    width: 100%;
    .footer{
        background-color: #003853;
        height: 50px;
        a {
            color: white;
            margin-right: 20px;
        }
   }
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
