<div *ngIf="!valideUtilisateur; else notValid">
    <app-header-fo></app-header-fo>
</div>
<ng-template #notValid>
    <app-header-bo></app-header-bo>
</ng-template>



<main role="main" *ngIf="valideUtilisateur; else notAdmin">
    <div class="row">
        <div class="col-3">
            <app-vertical-nav-bar></app-vertical-nav-bar>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>



<ng-template #notAdmin>
    <main role="main">
        <router-outlet></router-outlet>
    </main>
</ng-template>



<footer >
    <img class="banner" src="assets/images/bandeauPartenaire.png">
    <div class="footer nav_text d-flex align-items-center">
        <div class="col-md-4 col-xs-12">
            <a href="navbar-brand">Wise Program - 2019</a>
        </div>
        <div class="col-lg-6 col-xs-12">
            <a href="">Accueil</a>
            <a href="">Toutes les formations</a>
            <a href="">F.A.Q.</a>
            <a href="">Documentation</a>
            <a href="">Se connecter</a>
        </div>
        <div class="col-md-2 col-xs-12">
            <a href="">Mentions légales</a>
        </div>
    </div>


</footer>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
