.btn-file{
    position: center;
    color: #003853;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #F5F9FA;
    border-radius: 25px;
    border-color: #BDBCBC;
}

/*add cette classe en js
 pour faire apparaitre que si check*/
.btn-selection{
    color:#BDBCBC;
}

.liste{
    margin: 0px;
}

i.material-icons{
    font-size: 10rem;
    color: black;
}
