
<div class="catalogue col-12">
    <h2><a href="" class="hLien"><img src="assets/images/icons8-ios-50.png">Catalogue de formations</a></h2>
    <div class="row">
        <div class="col-8 liste">
            <app-barre-de-recherche fieldName="textRecherche" [textRecherche]="textRecherche"></app-barre-de-recherche>

            <div class="row d-flex justify-content-between">
                <div class="col-3">
                    <i class="material-icons active">folder</i>
                </div>
                <div class="col-3">
                    <i class="material-icons">folder</i>
                </div>
                <div class="col-3">
                    <i class="material-icons">folder</i>
                </div>
            </div>

            <app-carte-formation></app-carte-formation>
            <app-carte-formation></app-carte-formation>
            <app-carte-formation></app-carte-formation>

            <app-carte-formation *ngFor="let loop of loops" [formation]="loop"></app-carte-formation>


        </div>
        <div class="col-4 info">
            <div class="h4">Accès rapide</div>
            <div><a [routerLink]="['/admin/ajout-formation']"><button type="button" class="btn btn-outline-primary btn-connection">Ajouter une formation <i src="" ></i></button></a></div>
            <div class="h4">Importer des éléments</div>
            <p class="content-access">Consequatur dolorum enim eum, laudantium maiores nobis quam vitae voluptatibus. Eaque explicabo, maiores minus non perspiciatis placeat quas repellat! A ipsa, soluta.</p>
            <div><a [routerLink]="['/']"><button type="button" class="btn btn-outline-primary btn-file">Importer un fichier <i src="" ></i></button></a></div>
            <div class="h4">Exporter des éléments</div>
            <p class="content-access">Consequatur dolorum enim eum, laudantium maiores nobis quam vitae voluptatibus. Eaque explicabo, maiores minus non perspiciatis placeat quas repellat! A ipsa, soluta.</p>
            <div><a [routerLink]="['/']"><button type="button" class="btn btn-outline-primary btn-file">Exporter la liste <i src="" ></i></button></a></div>
            <div><a [routerLink]="['/']"><button type="button" class="btn btn-outline-primary btn-file btn-selection">Exporter la sélection <i src="" ></i></button></a></div>
        </div>
    </div>


</div>
