<header>
    <div class="navbar navbar-dark box-shadow">
        <div class="col d-flex justify-content-between">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="51.916" height="57.787" viewBox="0 0 51.916 57.787">
                    <defs>
                        <style>
                            .a {
                                fill: #00a1c5;
                            }

                            .b {
                                fill: #00748f;
                            }

                            .c {
                                fill: #006781;
                            }

                            .d {
                                fill: #0086a5;
                            }

                            .e {
                                fill: #0098b9;
                            }

                            .f {
                                fill: #008fb2;
                            }

                            .g {
                                fill: #00819e;
                            }

                            .h {
                                fill: #006a86;
                            }

                            .i {
                                fill: #004c65;
                            }

                            .j {
                                fill: #00546c;
                            }

                            .k {
                                fill: #00465c;
                            }

                            .l {
                                fill: #00576f;
                            }

                            .m {
                                fill: #004862;
                            }

                            .n {
                                fill: #004e67;
                            }

                            .o {
                                fill: #c9c7c7;
                            }

                            .p {
                                fill: #646463;
                            }
                        </style>
                    </defs>
                    <g transform="translate(0 -5)">
                        <path class="a" d="M51.937,5l20.768,5.674.062,3.164Z" transform="translate(-29.087)" />
                        <path class="b" d="M107.439,35.864,99.2,21.06,99.142,17.9Z" transform="translate(-55.523 -7.222)" />
                        <path class="c" d="M102.469,46.169,99.283,25.088l8.235,14.8Z" transform="translate(-55.602 -11.25)" />
                        <path class="b" d="M75.812,41.162,86.138,25.088l3.186,21.081Z" transform="translate(-42.458 -11.25)" />
                        <path class="d" d="M54.09,29.877l19.883-4.789L63.647,41.162Z" transform="translate(-30.292 -11.25)" />
                        <path class="e" d="M51.937,5l20.83,8.838L52.884,18.627Z" transform="translate(-29.087)" />
                        <path class="f" d="M19.355,13.838,33.69,5l.947,13.627Z" transform="translate(-10.84)" />
                        <path class="g" d="M13.8,44.837l2.446-19.749,15.282,4.789Z" transform="translate(-7.726 -11.25)" />
                        <path class="h" d="M0,40.87,8.515,25.088,6.069,44.837Z" transform="translate(0 -11.25)" />
                        <path class="c" d="M13.8,50.933l2.717,1.509h20.04l4.529-5.184L31.523,35.973Z"
                              transform="translate(-7.726 -17.346)" />
                        <path class="i" d="M65.519,66.807H82.967l.593-.176L70.048,61.623Z" transform="translate(-36.693 -31.711)" />
                        <path class="j" d="M106.524,65.013l.094.176h4.872l.083-6.454Z" transform="translate(-59.657 -30.094)" />
                        <path class="k" d="M106.358,73.18h.167L106.431,73Z" transform="translate(-59.565 -38.085)" />
                        <path class="l" d="M14.409,71.484h2.1L13.8,69.975Z" transform="translate(-7.726 -36.388)" />
                        <path class="m" d="M1.062,66.435H5.7l.365-1.509L0,60.959Z" transform="translate(0 -31.339)" />
                        <path class="n" d="M105.176,73.18h.52l.073-.176Z" transform="translate(-58.903 -38.085)" />
                        <path
                            d="M53.416,97.5V94.276H46.983V89.009h5.851v-3.03H46.983V81.555H53.27V78.37H43.443V97.5ZM29.9,90.851c-.031.5-.052.854-.052,1.073a6.432,6.432,0,0,0,1.406,4.549,5.657,5.657,0,0,0,4.288,1.489A5.926,5.926,0,0,0,39.8,96.546a5.28,5.28,0,0,0,1.489-4.028,6.022,6.022,0,0,0-.75-3.155A9.313,9.313,0,0,0,37.7,86.74l-1.968-1.333a.056.056,0,0,0-.042-.021c-1.447-.979-2.176-1.874-2.176-2.675a1.93,1.93,0,0,1,.489-1.4,1.807,1.807,0,0,1,1.353-.5,1.971,1.971,0,0,1,1.676.666,3.722,3.722,0,0,1,.51,2.228v.509h3.383c.011-.072.011-.166.021-.26s.01-.24.01-.427a5.727,5.727,0,0,0-1.416-4.174A5.444,5.444,0,0,0,35.458,77.9a5.462,5.462,0,0,0-3.935,1.364A4.959,4.959,0,0,0,30.1,83.043a5.19,5.19,0,0,0,.634,2.686,10.919,10.919,0,0,0,3,2.707l1.822,1.291a7.534,7.534,0,0,1,1.78,1.582,2.611,2.611,0,0,1,.406,1.468,2.217,2.217,0,0,1-.594,1.686,2.362,2.362,0,0,1-1.718.572,1.709,1.709,0,0,1-1.52-.635A4.606,4.606,0,0,1,33.47,92V90.768H29.9v.083ZM27.765,78.359h-3.57V97.493h3.57ZM10.922,97.5l2.041-12.087L15.17,97.5H19.4L22.872,78.37H19.219L17.178,93.152,14.43,78.37H11.484l-2.5,14.5L6.643,78.359H2.958L6.674,97.493h4.247V97.5Z"
                            transform="translate(-1.657 -40.827)" />
                        <path class="k" d="M13.932,71.484l-.624-1.51s-.146.594-.364,1.51Z" transform="translate(-7.249 -36.388)" />
                        <path class="o" d="M11.476,128.466v3.373H28.965v-3.373Z" transform="translate(-6.427 -69.146)" />
                        <g transform="translate(24.308 59.216)">
                            <path class="p"
                                  d="M55.25,131.839v-3.373h1.54a1.351,1.351,0,0,1,.9.271.961.961,0,0,1,.3.78,1.09,1.09,0,0,1-.3.822,1.216,1.216,0,0,1-.864.292h-.7v1.208H55.25Zm.864-1.884h.572a.468.468,0,0,0,.344-.1.393.393,0,0,0,.114-.312.386.386,0,0,0-.114-.3.551.551,0,0,0-.354-.1h-.562v.822Z"
                                  transform="translate(-55.25 -128.362)" />
                            <path class="p"
                                  d="M63.625,131.839v-3.373h1.613a1.567,1.567,0,0,1,.947.229.84.84,0,0,1,.3.708.926.926,0,0,1-.125.489.966.966,0,0,1-.406.343.614.614,0,0,1,.312.229,1.093,1.093,0,0,1,.1.51c0,.073.011.156.011.281.01.271.052.427.135.468v.115h-.905a1.458,1.458,0,0,1-.073-.489c-.01-.209-.01-.333-.021-.4a.406.406,0,0,0-.136-.291.508.508,0,0,0-.333-.094h-.573v1.26h-.853v.011Zm.864-1.926h.645a.636.636,0,0,0,.385-.094.36.36,0,0,0,.125-.3.317.317,0,0,0-.115-.271.586.586,0,0,0-.365-.094H64.5v.76Z"
                                  transform="translate(-59.94 -128.362)" />
                            <path class="p"
                                  d="M72.19,130.033a1.819,1.819,0,0,1,.458-1.3,1.829,1.829,0,0,1,2.467,0,2.078,2.078,0,0,1,0,2.6,1.617,1.617,0,0,1-1.239.479,1.591,1.591,0,0,1-1.228-.479A1.8,1.8,0,0,1,72.19,130.033Zm.875,0a1.324,1.324,0,0,0,.209.792.7.7,0,0,0,.6.27.724.724,0,0,0,.6-.27,1.256,1.256,0,0,0,.209-.792,1.325,1.325,0,0,0-.209-.791.709.709,0,0,0-.6-.271.738.738,0,0,0-.6.271A1.343,1.343,0,0,0,73.065,130.033Z"
                                  transform="translate(-64.737 -128.242)" />
                            <path class="p"
                                  d="M84.473,131.706l-.073-.437a1.229,1.229,0,0,1-.447.4,1.409,1.409,0,0,1-.614.125,1.649,1.649,0,0,1-.6-.114,1.378,1.378,0,0,1-.489-.354,1.52,1.52,0,0,1-.333-.562,2.207,2.207,0,0,1-.114-.708,1.849,1.849,0,0,1,.468-1.322,1.637,1.637,0,0,1,1.26-.5,1.563,1.563,0,0,1,.978.3,1.333,1.333,0,0,1,.489.833h-.822a.682.682,0,0,0-.249-.333.757.757,0,0,0-.417-.114.734.734,0,0,0-.6.3,1.266,1.266,0,0,0-.229.8,1.221,1.221,0,0,0,.229.781.713.713,0,0,0,.6.292.8.8,0,0,0,.5-.156.669.669,0,0,0,.249-.427h-.76v-.645h1.519V131.7h-.541v.011Z"
                                  transform="translate(-70.118 -128.229)" />
                            <path class="p"
                                  d="M91.569,131.839v-3.373h1.614a1.568,1.568,0,0,1,.947.229.842.842,0,0,1,.3.708.926.926,0,0,1-.125.489.966.966,0,0,1-.406.343.617.617,0,0,1,.312.229,1.1,1.1,0,0,1,.1.51c0,.073.01.156.01.281.011.271.052.427.136.468v.115h-.906a1.482,1.482,0,0,1-.073-.489c-.01-.209-.01-.333-.021-.4a.406.406,0,0,0-.136-.291.5.5,0,0,0-.333-.094h-.572v1.26h-.854v.011Zm.864-1.926h.646a.637.637,0,0,0,.385-.094.36.36,0,0,0,.125-.3.317.317,0,0,0-.114-.271.587.587,0,0,0-.364-.094h-.667v.76Z"
                                  transform="translate(-75.59 -128.362)" />
                            <path class="p"
                                  d="M100.917,128.466h.947l1.187,3.373h-.926l-.208-.614h-1.125l-.187.614H99.71Zm.084,2.061h.739l-.375-1.166Z"
                                  transform="translate(-80.149 -128.362)" />
                            <path class="p"
                                  d="M109.1,131.839v-3.373h1.187l.448,1.645c.042.146.073.281.1.427s.062.271.083.4c.031-.135.062-.281.094-.427s.083-.312.125-.479l.416-1.551h1.187v3.373h-.791V130.36c0-.1,0-.25.01-.448s.01-.406.021-.656l-.645,2.592h-.854l-.635-2.592c.011.3.021.572.021.8s.011.427.011.562v1.228h-.78v-.009Z"
                                  transform="translate(-85.41 -128.362)" />
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="nav_text d-flex align-items-center">
            <div><a class="nav-item nav-link active" href="#">Revenir au site <span class="sr-only">(current)</span></a></div>
            <div ngbDropdown class="d-inline-block"><a class="nav-item nav-link" id="dropdownBasic1" ngbDropdownToggle>Aide</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a [routerLink]="['/aide/faq']" ngbDropdownItem>F.A.Q.</a>
                    <a ngbDropdownItem>Documentation</a>
                </div>
            </div>
            <a ><img class="cloche" src="assets/images/cloche@2x.png"/></a>
            <div *ngIf="utilisateurService.getUser()">Bonjour, {{ utilisateurService.getUser().username }} !</div>
<!--            <div *ngIf="utilisateurService.getUser()" (click)="utilisateurService.deconnecter()"><button type="button" class="btn btn-outline-secondary">Se déconnecter</button></div>-->
        </div>
    </div>
</header>

