<div class="album bg-light">
    <div class="container pt-5">

        <section class="jumbotron shadow p-3 bg-white rounded">
            <div class="col-12">
                <h3 class="">Rechercher une formation</h3>
            </div>

            <div class="col d-flex justify-content-between marginBot">
                <app-barre-de-recherche class="col-6" fieldName="textRecherche" [textRecherche]="textRecherche"></app-barre-de-recherche>
                <app-barre-de-recherche class="col-6" fieldName="textRecherche2" [textRecherche]="textRecherche2"></app-barre-de-recherche>
            </div>

            <!-- <div class="col-12 text-center">
                <p class="col-6">Mots-clés fréquents:</p>
            </div> -->

            <div class="div_btn_recherche col-12 text-center">
                <button (click)="rechercher()" class="col-2 btn btn-primary btn-recherche align-items-center">Rechercher</button>
                <!-- <p class="col recherche-avancer mt-2"><a href="">ESSAYER LA RECHERCHE GUIDEE</a></p> -->
            </div>

        </section>


        <div class="row block-carte">
            <app-miniature *ngFor="let loop of loops" class="col-6" [formation]="loop"></app-miniature>
        </div>
    </div>
</div>
