p, h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn-recherche{
    background-image: linear-gradient(to right,#00c8d5, #00a0c5);
    color: white;
    border: 0;
    border-radius: 25px;
    height: 3rem;
    font-weight: bold;
}

.recherche-avancer a{
    font-size: 12px;
    color: #C9C7C7;
}

.div_btn_recherche{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.block-carte{
    margin-top: 3rem;
}

.titre-carte h5{
    color: #009EC1;
}

.carte-contenue{
    font-size: 12px;
}
.card .pied-de-carte{
    font-size: 12px;
    color: #C9C7C7;
}
.carte-localisation{
    color: #C9C7C7;
}

.marginBot{
    margin-bottom: 20px;
}