<div class="session_formation ">
    <div class="block-en-tete">
        <p>Session de formation n°1</p>
    </div>
    <hr>

    <h5>Informations sur la session de formation</h5>
    <app-input label="Date de début *" id="dateDebut" placholder="Date de début *"></app-input>
    <app-input label="Date de fin *" id="dateFin" placholder="Date de fin *"></app-input>
    <app-select label="Etat du recrutement" id="etatRecrutement" [values]="values"></app-select>
    <app-input label="Modalités d'inscription" id="modalite" placholder="Modalités d'inscription"></app-input>

    <br>
    <h5>Période d'inscription</h5>
    <app-input label="Date de début *" id="dateDebut" placholder="Date de début *"></app-input>
    <app-input label="Date de fin *" id="dateFin" placholder="Date de fin *"></app-input>

    <br>
    <h5>Adresse d'inscription</h5>
    <app-input label="Ligne" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>

</div>