<div class="vertical_nav col-12 m-6">
    <ul><a [routerLink]="['admin/tableau-de-bord']" class="nav-item nav-link active"><img src="assets/images/tableauDeBord.png">Tableau de bord</a></ul>
    <ul><a [routerLink]="['admin/catalogue']" class="nav-item nav-link"><img src="assets/images/catalogue.png">Catalogue de formation</a></ul>
    <ul><a [routerLink]="['/organismes']" class="nav-item nav-link"><img src="assets/images/organismes.png">Organismes</a></ul>
    <ul><a [routerLink]="['/partenaires']" class="nav-item nav-link"><img src="assets/images/partenaires.png">Partenaires</a></ul>
    <ul><a [routerLink]="['/utilisateursRoles']" class="nav-item nav-link"><img src="assets/images/utilisateursRoles.png">Utilisateurs et rôle</a></ul>
</div>
