.titre_page{
    font-weight: bold;
    color: #003853;
}

mat-expansion-panel{
    border-left: solid 3px #009EC1;
}

mat-expansion-panel p{
    color: #919191;
}

mat-panel-title{
    color: #003853;
    font-weight: bold;
}