<div class="album bg-light">
    <div class="container pt-5">

        <div>
            <h4 class="titre_page">
                Trouvez les réponses à vos questions
            </h4>
        </div>
        
        <div class="row block_faq">
            <div class="col ">

                <mat-accordion *ngFor="let faq of tableaufaq">

                    <mat-expansion-panel class="mb-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               {{ faq.titre }}
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- description -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{ faq.valeur }}</p>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>
        </div>
        
    </div>
</div>

