.example-container {
    width : 100% ;
}

.mat-form-field{
    width: 100%;

}
.card{
    border: 0;
    background: transparent;
}
.form-control{
    border: 0;
}
.form-control::placeholder{
    color: #aaa;
}

.titreConnexion{
    margin-bottom: 25px;
}

