<div class="container">
    <div class="row connexion">
        <div class="col-md-7 pr-0">
            <img class="w-100" src="/assets/images/imgCo.png">
        </div>
        <div class="card col-md-5 float-md-left">
            <!--Card content-->
            <div class="card-body">
                <!-- Formulaire -->
                <form [formGroup]="connexionFormulaire" (ngSubmit)="connexion(connexionFormulaire.value)">
                    <div class="form_error" *ngIf="errors.global">{{ errors.global }}</div>
                    <h5 class="titreConnexion">Se connecter</h5>

                    <!-- Identifiant -->
                    <div class="md-form col-xs-12 my-2">
                        <label for="identifiant">Adresse email</label>
                        <input type="text" id="identifiant" name="identifiant" class="champs-formulaire form-control" placeholder="Entrez votre identifiant" formControlName="identifiant">

                    </div>
                    <!-- mot de passe -->
                    <div class=" col-xs-12 my-4">
                        <label for="motDePasse">Mot de passe</label>
                        <input type="password" id="motDePasse" name="motDePasse" class="champs-formulaire form-control" placeholder="Entrez votre mot de passe" formControlName="motDePasse">
                    </div>
                    <!-- mot de passe oublié -->
                    <div class="d-flex my-4">
                        <div>
                            <a href="">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <!-- bouton de connexion -->
                        <button type="submit" class="col-xs-12 col-md-5 btn btn-outline-primary btn-connection ">Se connecter</button>
                        <!-- bouton d'inscription -->
                        <a [routerLink]="['/inscription']" class="col-xs-12 col-md-5 offset-md-1 btn btn-outline-primary btn-connection my-2">Créer un compte</a>
                    </div>

                </form>
                <!-- Formulaire -->
            </div>
        </div>
    </div>
</div>

