<div class="album ">
    <div class="container ">

        <div class="row justify-content-center">
            <div class="col-8 block-en-tête m-4 ">
                <img src="assets/images/GRETA_fiche produit.png" alt="">
            </div>
        </div>

        <div class="row block-centrale d-flex justify-content-between">

            <div class="col-8">
                <div class="affichage_gauche pt-1 pl-3 mb-3">
                    <div class="row pl-2 mb-3">
                        <div class="col date">
                            <h5>{{ informationPrincipal.date.label }}</h5>
                            <p>{{ informationPrincipal.date.value }}</p>
                        </div>
                        <div class="col duree">
                            <h5>{{ informationPrincipal.duree.label }}</h5>
                            <ul *ngFor="let durreValue of informationPrincipal.duree.value">
                                <li>
                                    <p>{{ durreValue }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pl-2 mb-3">
                        <div class="col objectif">
                            <h5>{{ informationPrincipal.objectifs.label }}</h5>
                            <p>{{ informationPrincipal.objectifs.value }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col contenu">
                            <h5>{{ informationPrincipal.contenu.label }}</h5>
                            <ul *ngFor="let contenuValue of informationPrincipal.contenu.value">
                                <li>{{ contenuValue }}</li>
                            </ul>
                    
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col methode&outil">
                            <h5>{{ informationPrincipal.methode.label }}</h5>
                            <ul *ngFor="let methodeValue of informationPrincipal.methode.value">
                                <li>{{ methodeValue }}</li>
                            </ul>
                    
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="affichage_droite col-4 ">
                
                <div *ngFor="let info of infoRelatifs" >
                    <div class="row block_affichage_droite mb-3">
                        <div class="col">
                            <h5>{{ info.label }}</h5>
                            <p>{{ info.value }}</p>
                        </div>
                    </div>
                </div>
                   
                            
            </div>

        </div>

    </div>
</div>