body{
    background: #F5F9FA;
}
.block-en-tête{
   background: white;
}

p, li{
    font-size: 12px;
}

.affichage_gauche, .block_affichage_droite{
    background: white;
    border-left: solid 6px #009EC1;
}