<div class="row cardFormation">

    <div class="cardContainer col-12">

        <div class="row">

            <div class="col-1 displayFlex">

                <div class="marginAuto input">
                    <div class="form-check">
                        <input id="check" type="checkbox">
                        <label class="labelCheck" for="check"></label>
                    </div>
                </div>

            </div>

            <div class="col-7 displayFlex">
                <div class="marginAuto">
                    <p class="titleCard">{{lheo.offres.formation.intituleFormation}}</p>
                    <p class="centreFormationCard">{{lheo.offres.formation.organismeFormationResponsable.nomOrganisme}}</p>
                    <p class="dateCard">{{lheo.offres.formation.premiereAction().dateInformation.date}}</p>
                </div>
            </div>

            <div class="col-3 displayFlex">
                <div class="marginAuto">
                    <p class="lieuCard">{{lheo.offres.formation.organismeFormationResponsable.coordonneesOrganisme.coordonnees.adresse.ville}} ({{lheo.offres.formation.organismeFormationResponsable.coordonneesOrganisme.coordonnees.adresse.departement}})</p>
                </div>
            </div>

            <div class="col-1 displayFlex">
                <img class="iconPoint marginAuto" src="assets/images/3point.png" alt="">
            </div>

        </div>


    </div>

</div>
