/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.connexion, .inscription{
    margin-top: 50px;
}
.btn-connection, a:not([href]):not([tabindex]).btn-connection{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right,#00c8d5, #00a0c5);
    border-radius: 25px;
    border-color: white;
    padding: 10px 25px;
}

.champs-formulaire{
    border-radius: 1rem ;
}


///////////////////
//admin
.hLien{
    color: #003853;
    font-weight: bold;
}
.cloche{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
///////////////////
/*card formation*/
.cardFormation{
    margin-right: 15px;
}
.cardContainer{
    background-color: white;
    margin-top: 50px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #d4d4d4;
}

.cardContainer p{
    margin-bottom: 0;
    margin: 3px 0;
}

.titleCard{
    color: #009EC1;
    font-weight: bold;
}

.centreFormationCard{
    color: black;
    font-weight: bold;
}

.dateCard{
    color: #aaa;
    font-weight: lighter;
}

.lieuCard{
    color: #aaa;
    font-weight: lighter;
    text-align: right;
}

.displayFlex{
    display: flex;
}

.displayFlex .marginAuto{
    margin: auto 0;
}

.displayFlex .marginAuto.input{
    margin: auto;
}

.form-check-input{
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin: auto;
}

input[type="checkbox"]{
    font-size: 30px;
}

.iconPoint{
    height: 30px;
}

.labelCheck{
    font-size: 25px;
}
///////////////////
//info admin right
.h4{
    margin: 15px;
    color: #003853;
    font-weight: bold;
}
.content-access{
    color: #aaa;
    font-weight: lighter;
}
.info, .vertical_nav{
    background-color: white;
    padding-top: 40px;
}

.mat-tab-labels{
    display: flex;
    flex-direction: column !important;
}

.mat-tab-body .block-en-tete p{
    color: #003853;
    font-weight: bold;
}

.mat-tab-body-wrapper{
    width: 100%;
    padding: 2rem;
    background: white;
}

.mat-tab-header{
    margin-left: 2rem;
    background: white;
}