<div class="lieux_formation ">
    <div class="block-en-tete">
        <p>Lieu de formation</p>
    </div>
    <hr>

    <h5>Informations sur le lieu</h5>
    <app-input label="Restauration" id="restauration" placeholder="Restauration"></app-input>
    <app-input label="Hébergement" id="hebergement" placeholder="Hébergement"></app-input>
    <app-input label="Transport" id="transport" placeholder="Transport"></app-input>
    <app-input label="Accès handicapés" id="accesHandicapes" placeholder="Accès handicapés"></app-input>

    <br>
    <h5>Lieu de formation</h5>
    <app-select label="Civilité" id="civilite" [values]="values"></app-select>
    <app-input label="Prénom" placeholder="Entrez le prénom du contact" id="prenom"></app-input>
    <app-input label="Nom" placeholder="Entrez le nom du contact" id="nom"></app-input>
    <app-input label="Ligne" placeholder="Texte pour des coordonnées ou une adresse" id="ligne"></app-input>
    <app-input label="Ligne *" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>
    <app-input label="Téléphone" id="telephone"></app-input>
    <app-input label="Fax" id="fax"></app-input>
    <app-input label="Courriel" id="courriel"></app-input>
    <app-input label="Site web" id="siteWeb"></app-input>

</div>