
<div class="dashbord col-12">
    <h2>Bienvenue</h2>
    <div class="col-8">
        <div>
            <h5 class="titre">Toutes nos formations</h5>
            <img src="" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <app-carte-formation *ngFor="let loop of loops" [formation]="loop"></app-carte-formation>
        </div>

        <div class="col-4 info">
            <div class="h4">Activité recente</div>
            <p class="content-access">Consequatur dolorum enim eum, laudantium maiores nobis quam vitae voluptatibus. Eaque explicabo, maiores minus non perspiciatis placeat quas repellat! A ipsa, soluta.</p>
            <div><a [routerLink]="['/']" class="info-dashboard center">2 nouvelle formation publiées</a></div>
            <div><a [routerLink]="['/']" class="info-dashboard">Un utilisateur en attent de validation</a></div>
        </div>
    </div>
</div>
