<div class="organisme_formation ">
    <div class="block-en-tete">
        <p>Organisme de formation responsable</p>
    </div>
    <hr>
    <h5>Identité de l'organisme</h5>
    <app-input label="Numéro d'activité" placeholder="Entrez le numero d'activité" id="numeroDactivite"></app-input>
    <app-input label="SIRET *" placeholder="Entrez le numero SIRET" id="siret"></app-input>
    <app-input label="Nom de l'organisme *" placeholder="Entrez le nom de l'organisme" id="nomOrganisme"></app-input>
    <app-input label="Raison sociale *" placeholder="Entrez la raison sociale" id="raisonSociale"></app-input>
    <app-input label="Renseignements spécifiques *" placeholder="Entrez des renseignements spécifiques"
        id="renseignementSpe"></app-input>

    <br>
    <h5>Coordonnées de l'organisme</h5>
    <app-select label="Civilité" id="civilite" [values]="values"></app-select>
    <app-input label="Prénom" placeholder="Entrez le prénom du contact" id="prenom"></app-input>
    <app-input label="Nom" placeholder="Entrez le nom du contact" id="nom"></app-input>
    <app-input label="Ligne" placeholder="Texte pour des coordonnées ou une adresse" id="ligne"></app-input>
    <app-input label="Ligne" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>
    <app-input label="Téléphone" id="telephone"></app-input>
    <app-input label="Fax" id="fax"></app-input>
    <app-input label="Courriel" id="courriel"></app-input>
    <app-input label="Site web" id="siteWeb"></app-input>

    <br>
    <h5>Contact de l'organisme</h5>
    <app-select label="Civilité" id="civilite" [values]="values"></app-select>
    <app-input label="Prénom" placeholder="Entrez le prénom du contact" id="prenom"></app-input>
    <app-input label="Nom" placeholder="Entrez le nom du contact" id="nom"></app-input>
    <app-input label="Ligne" placeholder="Texte pour des coordonnées ou une adresse" id="ligne"></app-input>
    <app-input label="Ligne *" placeholder="Entrez une adresse" id="ligne"></app-input>
    <app-input label="Code postal *" placeholder="Entrez un code postal" id="codePostal"></app-input>
    <app-input label="Ville *" placeholder="Entrez une ville" id="ville"></app-input>
    <app-input label="Département" placeholder="Entrez une département" id="departement"></app-input>
    <app-input label="Code commune INSEE" id="codeCommuneInsee"></app-input>
    <app-input label="Code canton INSEE" id="codeCantonInsee"></app-input>
    <app-input label="Région" id="region"></app-input>
    <app-input label="Pays" id="pays"></app-input>
    <app-input label="Latitude" id="latitude"></app-input>
    <app-input label="longitude" id="longitude"></app-input>
    <app-input label="Téléphone" id="telephone"></app-input>
    <app-input label="Fax" id="fax"></app-input>
    <app-input label="Courriel" id="courriel"></app-input>
    <app-input label="Site web" id="siteWeb"></app-input>

    <br>
    <h5>Potentiel</h5>
    <div>
        <label>FORMACODE *</label>
        <app-input placeholder="Catégorie" id="titreFormation"></app-input>
        <app-input placeholder="Entrez un FORMACODE" id="objectifFormation"></app-input>
    </div>

</div>