      <div class="col-12">
        <a class="resetA" [routerLink]="['/detail', lheo.id]">
        <div class="row">

            <div class="col-7 displayFlex">
                <div class="marginAuto">
                    <p class="dateCard">{{lheo.offres.formation.premiereAction().dateInformation.date}}</p>
                    <p class="formationTitle">{{lheo.offres.formation.intituleFormation}}</p>
                    <p class="centreFormationCard">{{lheo.offres.formation.organismeFormationResponsable.nomOrganisme}}</p>
                </div>
            </div>

            <div class="col-3 displayFlex">
                <div class="marginAuto">
                    <p class="lieuCard">{{lheo.offres.formation.organismeFormationResponsable.coordonneesOrganisme.coordonnees.adresse.ville}}  ({{lheo.offres.formation.organismeFormationResponsable.coordonneesOrganisme.coordonnees.adresse.departement}})</p>
                </div>
            </div>

            <div class="col-1 displayFlex">
                <img class="iconPoint marginAuto" src="assets/images/3point.png" alt="">
            </div>

        </div>
        </a>


    </div>

