.centreFormationCard,
.dateCard,
.formationTitle{
    padding-left: 10px;
}
.dateCard{
    color: white;
    min-width: 80%;
    background-image: linear-gradient(to right,#00c8d5, #00a0c5);
    border-radius: 0 2em 2em 0;
    padding: 7px 13px;
    text-align: left;
}

.formationTitle{
    color: #009EC1;
    font-weight: bold;
}

a.resetA:hover{
    text-decoration: none;
}
