<div class="form-group">
    <label for="{{ id }}">{{ label }}</label>
    <select  class="form-control" id="formationCertifiante">
        <option *ngFor="let value of values " value="{{value.id}}">{{value.nom}}-</option>
        
    </select>
</div>